.contactMeSection {
	display: flex;
	margin: 1rem;
	text-align: center;
	display: block;
}

h1.contactMeText {
	color: #5d87cf;
	margin: 3rem 5rem;
	position: relative;
}

h2.contactMeTextDetails {
	color: #d4bdff;
	margin: 3rem 5rem;
	font-size: 1.5rem;
	position: relative;
}



