.contactMeSection {
	display: flex;
	margin: 1rem;
	text-align: center;
	display: block;
}

h1.contactMeText {
	color: #5d87cf;
	margin: 3rem 5rem;
	position: relative;
}

h2.contactMeTextDetails {
	color: #d4bdff;
	margin: 3rem 5rem;
	font-size: 3rem;
	position: relative;
}

form {
	margin: 10%;
	padding: 2%;
	color: #000000;
	width: 40%;
	background-color: #7373bf;
	text-align: left;
}

input[type=text], input[type=email], input[type=tel] {
	color: rgb(102,102,186, 0.6);
	display: block;
	position: relative;
	width: 100%;
	margin: 1% 0 3% 0;
}

input[type=text], input[type=email], input[type=tel]:after {
	color: #6666BA;
	display: block;
	position: relative;
	width: 100%;
	margin: 1% 0 3% 0;
}

input[type=submit] {
	margin-top: 5%;
	background-color: #cdaaf2;
	color: #341d42;
	border-radius: 30%;
	padding: 1.5rem;
	text-align: center;
	border: none;
}

input[type=submit]:hover {
	margin-top: 5%;
	background-color: #341d42;
	color: #cdaaf2;
	border-radius: 30%;
	height: 4rem;
	text-align: center;
	border: none;
}

@media screen and (max-width: 590px) {
	
	body {
		min-width: 300px;
	}
	
	.navBar {
		display: flex;
		flex-direction: column;
		min-width: 30%;
		width: 30%;
		opacity: 1;
		font-size: 80%;
		padding: 5px 10px;
		margin: 10px;
		background-color: #856ab8;
		padding: 0.5rem;
		border-radius: 0.2rem;
		border-style: solid;
		border-width: 0.15rem;
		border-color: #d4bdff;
		align-items: center;
	}
	
	a.navLink {
		display: flex;
		color: #e8f3fc;
		text-decoration: none;
		width: 100%;
		padding: 5px 0;
		margin: 5px;
		background-color: #6a8eb8;
		padding: 0.5rem;
		border-radius: 0.2rem;
		border-style: solid;
		border-width: 0.05rem;
		border-color: #d4bdff;
	}
	
	h1.contactMeText {
		color: #5d87cf;
		margin: 3rem 5rem;
		position: relative;
		font-size: 4rem;
	}

	h2.contactMeTextDetails {
		color: #d4bdff;
		margin: 3rem 5rem;
		font-size: 2rem;
		position: relative;
	}
}




