.whatIDoSection {
	display: flex;
	margin: 1rem;
	text-align: center;
	display: block;
}

h1.whatIDoText {
	color: #5d87cf;
	margin: 3rem 5rem;
	position: relative;
}

h2.whatIDoDetails {
	color: #d4bdff;
	margin: 3rem 5rem;
	font-size: 3rem;
	position: relative;
}



